body {
	font-family: 'Quicksand', sans-serif;
	padding: 40px 80px 40px 80px;
	color: #626262;
}

h1 {
	font-size: 40px;
}

.container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 0;
	border: 1px solid #f8f8f8;
	box-shadow: 8px 8px 8px #f8f8f8;
}

.heading {
	font-family: 'Quicksand', cursive;
	font-size: 40px;
}

.canvas-container {
	min-width: 60%;
}

.content {
	line-height: 1.6;
	word-spacing: 2.5;
}

.content span {
	color: #8a8a8a;
}

.content p {
	font-size: 20px;
}

.controls {
	padding: 5px 20px;
	border-left: 1px solid #f8f8f8;
}

.description {
	margin: 0 auto;
	padding: 5px 20px;
	border-left: 1px solid #f2f2f2;
}

.loading {
	font-size: 50px;
	animation: loading 1s infinite;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

span {
	font-size: 18px;
	font-weight: 300;
}

ul#horizontal-list {
	list-style: none;
	margin-top: 20px;
	padding: 20px 10px 2px;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

ul#horizontal-list li {
	padding: 15px;
	animation: opacity 1s;
}

.slider {
	height: 10px;
	width: 100%;
	border-radius: 5px;
	background: #ebebeb;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.9s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #ebebeb;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}

@media only screen and (max-width: 450px) {
	body {
		padding: 10px 40px 10px 40px;
	}

	.heading {
		font-size: 20px;
	}

	.content {
		line-height: 1.8;
	}

	.content span {
		color: #8a8a8a;
	}

	.content p {
		font-size: 18px;
	}
}
