body {
	font-family: 'Quicksand', sans-serif;
	padding: 40px 80px 40px 80px;
	color: #626262;
}

h1 {
	font-size: 40px;
}

/* Main grid container */
.container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 0;
	border: 1px solid #f8f8f8;
	box-shadow: 8px 8px 8px #f8f8f8;
}

/* Heading on canvas and content */
.heading {
	font-family: 'Quicksand', cursive;
	font-size: 40px;
}

/* Main canvas */
.canvas-container {
	min-width: 60%;
}

/* Simulator content */
.content {
	line-height: 1.6;
	word-spacing: 2.5;
}

.content span {
	color: #8a8a8a;
}

.content p {
	font-size: 20px;
}

/* Controls for updating the canvas */
.controls {
	padding: 5px 20px;
	border-left: 1px solid #f8f8f8;
}

/* Loader */
.loading {
	font-size: 50px;
	animation: loading 1s infinite;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* Modal for apply force vector */
.modal {
	padding: 35px;
	width: 50%;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

/* Vector input fields */
.vector-input {
	display: flex;
	justify-content: center;
	padding: 10px;
}

input[type='text'] {
	padding: 2px;
	border: 0;
	width: 50px;
	font-size: 20px;
	border-bottom: 1.5px solid #bebebe;
	outline: none;
}

.vector-button {
	border: 2px solid black;
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 10px;
}

.vector-button:hover {
	background-color: black;
	color: white;
}

.vector-button:focus {
	outline: none;
}

@keyframes vector-list {
	from {
		opacity: 0;
		transform: translateX(-400px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.vector-animation {
	cursor: pointer;
	animation: vector-list 0.6s;
}

.minus-icon {
	visibility: hidden;
}

.vector-animation:hover .minus-icon {
	visibility: visible;
	animation: opacity 0.4s;
}

.vector-list {
	list-style-type: square;
	padding: 20px;
}

.vector-list li {
	font-size: 18px;
}

span {
	font-size: 18px;
	font-weight: 300;
}

#horizontal-list {
	list-style: none;
	margin-top: 20px;
	padding: 20px 10px 2px;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeAway {
	from {
		opacity: 1;
		transform: translateX(0);
	}

	to {
		opacity: 0;
		transform: translateX(400px);
	}
}

#horizontal-list > li {
	padding: 15px;
	animation: opacity 1s;
}

.slider {
	height: 10px;
	width: 100%;
	border-radius: 5px;
	background: #ebebeb;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.9s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #ebebeb;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}

.remove-vector {
	cursor: pointer;
	animation: fadeAway 2s;
}

@media only screen and (max-width: 450px) {
	body {
		padding: 10px 40px 10px 40px;
	}

	.heading {
		font-size: 20px;
	}

	.content {
		line-height: 1.8;
	}

	.content span {
		color: #8a8a8a;
	}

	.content p {
		font-size: 18px;
	}
}
