body {
	font-family: 'Roboto', sans-serif;
	padding: 40px 80px 20px 80px;
	color: #4c4c4c;
}

.controls {
	margin: 0 auto;
	padding: 5px 20px;
	border-left: 1px solid #bebebe;
}

.control-center {
	min-width: 100%;
}

.description {
	margin: 0 auto;
	padding: 5px 20px;
	border-left: 1px solid #bebebe;
}

.loading {
	font-size: 50px;
	animation: loading 1s infinite;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

span {
	font-size: 18px;
	font-weight: 300;
}

ul#horizontal-list {
	list-style: none;
	margin-top: 20px;
	padding: 20px 10px 2px;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

ul#horizontal-list li {
	padding: 15px;
	animation: opacity 1s;
}

.slider {
	height: 10px;
	width: 100%;
	border-radius: 5px;
	background: whitesmoke;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.9s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: red;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}
